<!-- header.handlebars -->

<header>
    <div class="header">
        <!-- Title of the App -->
        
  <h1>Welcome To PlantShelf</h1>
  <p>Please enjoy learning more about plants you own in our virtual greenhouse</p>



    </div>
</header>
