<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Any other meta tags, stylesheets, or scripts can be included here -->
</head>
<body>
    <!-- Include header partial -->
    {{> header}}
    
    <!-- Main content area where individual page content will be inserted -->
    <div class="container">
        {{{body}}}
    </div>

    <!-- Include footer partial -->
    {{> footer}}
    
    <!-- Include JavaScript files -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- Any other JavaScript files can be included here -->
</body>
</html>