<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Greenhouse PlantShelf</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!-- Include header partial -->
    {{> header}}
    
    <!-- Main content area where individual page content will be inserted -->
    <div class="container">
        {{{body}}}
    </div>

    <!-- Include footer partial -->
    {{> footer}}
    
    <!-- Include JavaScript files -->
    
    <script src="/public/css/js/scripts.js"></script>
    <!-- Any other JavaScript files can be included here -->
</body>
</html>