
<h2>Welcome to your greenhouse!</h2>
<!-- Greenhouse layout -->
<div class="greenhouse-layout">
    <!-- Display up to six plant slots in the greenhouse -->
    {{#each plants}}
        <div class="plant-slot">
            {{this.name}}
            
        </div>
    {{/each}}
        {{#each emptySlots}}
        <div class="plant-slot">
                <!-- Add a plant button -->
                <button class="add-plant-button">Add a Plant</button>
                <!-- Scrollable menu for plant options -->
                {{!-- <div class="plant-menu">
                    {{#each plants}}
                        <div class="plant-option" data-plant-id="{{this.id}}">{{this.name}}</div>
                    {{/each}}
                </div> --}}
        </div>
    {{/each}}
</div>

<script src="js/scripts.js"></script>